<div *ngIf="data.quiz" mat-dialog-content>
  <h2>{{ data.quiz.name }}</h2>
  <p>{{ data.quiz.question }}</p>
  <ul class="questions">
    <li *ngFor="let response of data.quiz.responses">
      <button
        mat-raised-button
        (click)="selectAnswer(response.correct)"
        [ngClass]="{ green: data.answered && response.correct }"
      >
        {{ response.text }}
      </button>
    </li>
  </ul>
</div>

<button
  mat-raised-button
  color="warn"
  [mat-dialog-close]="data"
  cdkFocusInitial
>
  Close
</button>
