h2 {
  margin-bottom: 0;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-top: 15px;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions {
  width: 100%;
}
.questions button {
  align-items: flex-start;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}
