<div *ngIf="data.quiz" mat-dialog-content class="dialog-container">
  <h2>{{ data.quiz.question }}</h2>
  <ul class="questions">
    <li *ngFor="let response of data.quiz.responses">
      <button
        mat-raised-button
        (click)="selectAnswer(response.correct)"
        [ngClass]="{ green: data.answered && response.correct }"
      >
        {{ response.text }}
      </button>
    </li>
  </ul>
  <button
    mat-raised-button
    color="warn"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Close
  </button>
</div>
