<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="iframe-container">
        <iframe class="responsive-iframe" [src]="demoUrl | safe"></iframe>
      </div>
      <div class="iframe-container">
        <iframe class="responsive-iframe" [src]="jamUrl | safe"></iframe>
      </div>
    </div>
    <div class="col-8">
      <div class="pdf-container">
        <iframe class="responsive-iframe" [src]="tabUrl | safe"></iframe>
      </div>
    </div>
  </div>
</div>
