<div class="d-flex justify-content-center w-100">
  <div *ngIf="technique" mat-dialog-content class="dialog-container w-100">
    <div class="card-container mb-0 mt-2" (click)="revealAnswer()">
      <mat-card>
        <p class="card-text">
          {{ technique.displayName }}
        </p>
      </mat-card>
      <mat-card
        class="hidden-card"
        [style.color]="reveal ? 'accent' : 'primary'"
      >
        <p class="card-text">
          {{ reveal ? technique.flashcard.answer : "Click to Reveal" }}
        </p>
      </mat-card>
    </div>
    <div class="button-container">
      <a
        mat-stroked-button
        color="accent"
        class="nav-button"
        [routerLink]="['/flashcard-deck', technique.prevTechnique]"
      >
        Prev
      </a>
      <a
        mat-stroked-button
        color="accent"
        class="nav-button"
        [routerLink]="['/flashcard-deck', technique.nextTechnique]"
      >
        Next
      </a>
    </div>
  </div>
</div>
