button {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  margin-bottom: 30px;
}

mat-card {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-card {
  margin-top: 10px;
  cursor: pointer;
}

.card-text {
  font-size: 1.5em;
  text-align: center;
  max-width: 300px;
}

.card-container {
  width: 350px;
  height: 500px;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
}
