<div class="d-flex justify-content-center w-100">
  <div
    *ngIf="technique"
    mat-dialog-content
    class="dialog-container d-flex flex-column align-items-center"
  >
    <div class="card-container w-100 mb-0 mt-2" (click)="revealAnswer()">
      <mat-card>
        <p class="card-text">
          {{ technique.displayName }}
        </p>
      </mat-card>
      <mat-card
        class="hidden-card"
        [style.color]="reveal ? 'accent' : 'primary'"
      >
        <p class="card-text">
          {{ reveal ? technique.flashcard.answer : "Tap to Reveal" }}
        </p>
      </mat-card>
    </div>
    <div class="container d-flex justify-content-center">
      <div class="row w-100">
        <div class="col-6">
          <button
            [disabled]="technique.prevTechnique === null"
            mat-stroked-button
            color="accent"
            class="w-100 p-2 btn-dark"
            [routerLink]="['/flashcard-deck', module, technique.prevTechnique]"
          >
            Prev
          </button>
        </div>
        <div class="col-6">
          <button
            [disabled]="technique.nextTechnique === null"
            mat-stroked-button
            color="accent"
            class="w-100 p-2 btn-dark"
            [routerLink]="['/flashcard-deck', module, technique.nextTechnique]"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
