<div class="row">
  <div class="col-lg-6 col-md-8 mx-auto">
    <p class="lead text-white-50 font-weight-bold">
      Learn old-time banjo tunes and jam along with backing tracks
    </p>
    <p class="mb-0">
      <a
        mat-stroked-button
        href="/song/g/crippleCreek"
        color="accent"
        class="cta-button btn btn-secondary m-1 px-2 py-1 br-2"
      >
        Start Learning Now
      </a>
      <a
        mat-stroked-button
        href="/login"
        color="accent"
        class="cta-button btn btn-secondary m-1 px-2 py-1 br-2"
      >
        Create Your Profile
      </a>
    </p>
  </div>
</div>
