<div
  *ngIf="data.technique.flashcard"
  (click)="revealAnswer()"
  mat-dialog-content
  class="dialog-container d-flex flex-column align-items-center"
>
  <div class="card-container w-100 mb-3">
    <mat-card
      class="d-flex justify-content-center align-items-center mt-3 mb-3"
    >
      <p class="card-text text-center">
        {{ data.technique.flashcard.question }}
      </p>
    </mat-card>
    <mat-card
      class="d-flex justify-content-center align-items-center mt-3 mb-3"
      [style.color]="reveal ? 'accent' : 'primary'"
    >
      <p class="card-text text-center">
        {{ reveal ? data.technique.flashcard.answer : "Click to Reveal" }}
      </p>
    </mat-card>
  </div>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data"
    class="w-100 d-flex justify-content-center align-items-center px-2 py-1"
  >
    Close
  </button>
</div>
