button {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

mat-card {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-card {
  border-top: 1px solid black;
}

.card-text {
  font-size: 1.5em;
  text-align: center;
}

.card-container {
  width: 100%;
  height: 400px;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.nav-button {
  margin-right: 5px;
  padding: 5px 10px;
  height: 46px;
}
