<div
  *ngIf="technique"
  (click)="revealAnswer()"
  mat-dialog-content
  class="dialog-container"
>
  <div class="card-container">
    <mat-card class="top-card">
      <p class="card-text">
        {{ technique.displayName }}
      </p>
    </mat-card>
    <mat-card class="hidden-card" [style.color]="reveal ? 'accent' : 'primary'">
      <p class="card-text">
        {{ reveal ? technique.flashcard.answer : "Click to Reveal" }}
      </p>
    </mat-card>
  </div>
  <div class="button-container">
    <button mat-button color="warn" (click)="gotoPrevFlashcard()">Prev</button>
    <button mat-button color="warn" (click)="gotoNextFlashcard()">Next</button>
  </div>
</div>
