button {
  font-family: Arial;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.goldstar {
  color: yellow;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.card-container {
  width: 300px;
  height: 270px;
  position: relative;
  -webkit-perspective: 500px;
  perspective: 500px;
}
