<div
  *ngIf="data.technique.flashcard"
  (click)="revealAnswer()"
  mat-dialog-content
  class="dialog-container"
>
  <div class="card-container">
    <mat-card class="top-card">
      <p class="card-text">
        {{ data.technique.flashcard.question }}
      </p>
    </mat-card>
    <mat-card class="hidden-card" [style.color]="reveal ? 'accent' : 'primary'">
      <p class="card-text">
        {{ reveal ? data.technique.flashcard.answer : "Click to Reveal" }}
      </p>
    </mat-card>
  </div>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Close
  </button>
</div>
