<div
  *ngIf="data.flashcard"
  (click)="revealAnswer()"
  mat-dialog-content
  class="dialog-container"
>
  <div class="card-container">
    <mat-card class="top-card">
      <p class="card-text">
        {{ data.flashcard.question }}
      </p>
    </mat-card>
    <mat-card
      class="hidden-card"
      [style]="reveal ? 'background-color: #fff;' : 'background-color: #eee;'"
    >
      <p class="card-text">
        {{ reveal ? data.flashcard.answer : "Click to Reveal" }}
      </p>
    </mat-card>
  </div>
  <button
    mat-raised-button
    color="warn"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Close
  </button>
</div>
