<mat-accordion>
  <mat-expansion-panel #banjoContent expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Banjo</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description
      mat-menu-item
      [routerLink]="['technique', 'banjo-tech', technique.name]"
      routerLinkActive="activebutton"
      *ngFor="let technique of techArray[0] | async"
      (click)="navigateToDetail()"
    >
      {{ technique.displayName }}
    </mat-panel-description>
  </mat-expansion-panel>
  <!-- <mat-expansion-panel [disabled]="!loggedIn">
    <mat-expansion-panel-header>
      <mat-panel-title>Pistol Tactics</mat-panel-title>
      <mat-icon [hidden]="loggedIn || false">lock</mat-icon>
    </mat-expansion-panel-header>
    <mat-panel-description
      mat-menu-item
      [routerLink]="['technique', 'randy-tech', technique.name]"
      routerLinkActive="activebutton"
      *ngFor="let technique of techArray[1] | async"
    >
      {{ technique.displayName }}
    </mat-panel-description>
  </mat-expansion-panel> -->
</mat-accordion>
