<!-- <mat-accordion> -->
<ng-container *ngFor="let moduleObject of moduleObject$ | async; index as i">
  <!-- <mat-expansion-panel
    [expanded]="loggedIn || (!loggedIn && i <= 1)"
    [disabled]="!loggedIn && i > 1"
  > -->
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title
        >{{ moduleObject.module | uppercase }} Songs</mat-panel-title
      >
    </mat-expansion-panel-header>
    <mat-panel-description
      mat-menu-item
      [routerLink]="
        loggedIn || !technique.premium
          ? ['song', moduleObject.module, technique.name]
          : null
      "
      [disabled]="!loggedIn && i > 1 && technique.premium"
      routerLinkActive="activebutton"
      (click)="
        loggedIn || !technique.premium ? navigateToDetail() : navigateToLogin()
      "
      *ngFor="let technique of moduleObject.techniques"
    >
      <mat-icon [hidden]="loggedIn || !technique.premium">lock</mat-icon>
      {{ technique.displayName }}
    </mat-panel-description>
  </mat-expansion-panel>
</ng-container>
<!-- <a
  mat-stroked-button
  routerLink="/login"
  [hidden]="loggedIn"
  color="accent"
  class="cta-button btn btn-secondary m-1 px-2 py-1 br-2"
>
  Create Account To Unlock Content
</a> -->
