<main>
  <div class="album py-3">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 g-3">
        <h2>My Favorite Techniques</h2>
        <nav>
          <button
            mat-stroked-button
            color="accent"
            [routerLink]="['/favorites/jaffy-tech/kneeSlice']"
            routerLinkActive="activebutton"
          >
            Jaffy Tech
          </button>
          <button
            mat-stroked-button
            color="accent"
            [routerLink]="['/favorites/gorilla-tech/baseballChoke']"
            routerLinkActive="activebutton"
          >
            Gorilla Tech
          </button>
          <button
            mat-stroked-button
            color="accent"
            [routerLink]="['/favorites/grill-tech/bravoFlipChoke']"
            routerLinkActive="activebutton"
          >
            Grill Tech
          </button>
          <button
            mat-stroked-button
            color="accent"
            [routerLink]="['/favorites/greek-tech/dopeMount']"
            routerLinkActive="activebutton"
          >
            Greek Tech
          </button>
        </nav>
        <mat-chip-list>
          <ng-container *ngFor="let technique of techniques$ | async">
            <mat-chip
              [routerLink]="['/technique', modulePath, technique.name]"
              >{{ technique.displayName }}</mat-chip
            >
          </ng-container>
        </mat-chip-list>
        <div *ngFor="let technique of techniques$ | async" class="col my-2">
          <div class="shadow-sm">
            <img
              [src]="technique.video.thumbnail | safe"
              [routerLink]="['/technique', modulePath, technique.name]"
              alt="Video Thumbnail"
              class="w-100"
            />
            <div class="card-container p-2">
              <h3 class="card-title">{{ technique.displayName }}</h3>
              <p class="card-text">
                {{ technique.flashcard.question }}
              </p>
              <div
                class="d-flex flex-column justify-content-center align-items-center"
              >
                <div class="mb-2 w-100">
                  <button
                    mat-stroked-button
                    color="accent"
                    class="p-2 mr-2 w-100 btn-dark"
                    [routerLink]="['/technique', modulePath, technique.name]"
                  >
                    Technique Details
                  </button>
                </div>
                <app-dialog-content-quiz
                  class="mb-2 w-100"
                  [technique]="technique"
                ></app-dialog-content-quiz>
                <app-dialog-content-flashcard
                  class="w-100"
                  [technique]="technique"
                ></app-dialog-content-flashcard>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
