<div *ngIf="technique$ | async as technique">
  <h2>{{ technique.name | uppercase }} Details</h2>
  <div>
    <iframe
      [width]="isSmallScreen || '560'"
      [height]="isSmallScreen || '315'"
      [src]="technique.video.url | safe"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div>
    <mat-label>name: </mat-label>
    <input
      matInput
      #editTechnique
      [(ngModel)]="technique.name"
      placeholder="name"
    />
    <button
      mat-raised-button
      color="primary"
      (click)="save(editTechnique.value)"
    >
      save
    </button>
  </div>
  <button mat-raised-button color="warn" (click)="goBack(technique.id)">
    go back
  </button>
</div>
