<div *ngIf="technique$ | async as technique">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Edit Technique</mat-label>
      <input
        matInput
        [(ngModel)]="technique.displayName"
        #editTechnique
        name="editTechniqueName"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Edit Flashcard Answer</mat-label>
      <textarea
        matInput
        [(ngModel)]="technique.flashcard.answer"
        name="editTechniqueFlashcard"
      ></textarea>
    </mat-form-field>
  </form>
  <p>
    <button
      mat-raised-button
      color="primary"
      (click)="save(technique.displayName, technique.flashcard)"
      class="mr-2"
    >
      Save
    </button>
    <button mat-raised-button color="accent" (click)="goBack(technique.id)">
      Back
    </button>
  </p>
</div>
