<h3>ADMIN</h3>
<nav>
  <a
    mat-stroked-button
    color="accent"
    routerLink="./"
    routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{ exact: true }"
    >Dashboard</a
  >
  <a
    mat-stroked-button
    color="accent"
    routerLink="./manage-technique-list"
    routerLinkActive="activebutton"
    >Manage Techniques</a
  >
  <a
    mat-stroked-button
    color="accent"
    routerLink="./add-technique"
    routerLinkActive="activebutton"
    >Add Technique</a
  >
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
