<button
  mat-menu-item
  (click)="toggleMenuClick()"
  routerLink="/home"
  routerLinkActive="activebutton"
>
  Home
</button>
<button
  [disabled]="!loggedIn"
  mat-menu-item
  (click)="toggleMenuClick()"
  routerLink="/favorites"
  routerLinkActive="activebutton"
>
  <mat-icon [hidden]="loggedIn || false">lock</mat-icon>
  Favorites
</button>
<button
  *ngIf="loggedIn"
  mat-menu-item
  (click)="toggleMenuClick()"
  routerLink="/profile"
  routerLinkActive="activebutton"
>
  Profile
</button>
<ul>
  @if(authService.isLoggedIn()) {
  <li>
    <a (click)="logout()" class="nav-link">Logout</a>
  </li>
  } @else {
  <li><a routerLink="/register" class="nav-link">Register</a></li>
  <li><a routerLink="/login" class="nav-link">Login</a></li>
  }
</ul>
