<div class="container">
  <div class="row d-flex justify-content-center mt-2">
    <nav>
      <button mat-stroked-button color="accent" [routerLink]="[
          '/flashcard-deck/randy-tech/activeShooterResponseProtocol'
        ]" routerLinkActive="activebutton">
        Pistol Tactics
      </button>
      <button mat-stroked-button color="accent" [routerLink]="['/flashcard-deck/glover-tech/kneeSlice']"
        routerLinkActive="activebutton">
        Grappling
      </button>
      <button mat-stroked-button color="accent" [routerLink]="['/flashcard-deck/gorilla-tech/baseballChoke']"
        routerLinkActive="activebutton">
        Non Lethal Weapons
      </button>
      <button mat-stroked-button color="accent" [routerLink]="['/flashcard-deck/greek-tech/dopeMount']"
        routerLinkActive="activebutton">
        Non Lethal Weapons
      </button>
      <button mat-stroked-button color="accent" [routerLink]="['/flashcard-deck/grill-tech/bravoFlipChoke']"
        routerLinkActive="activebutton">
        Situational Awareness
      </button>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>