<div class="container">
  <div class="row d-flex justify-content-center mt-2">
    <nav>
      <a
        mat-stroked-button
        color="accent"
        [routerLink]="['/flashcard-deck/jaffy-tech/kneeSlice']"
        routerLinkActive="activebutton"
        >Jaffy Tech</a
      >
      <a
        mat-stroked-button
        color="accent"
        [routerLink]="['/flashcard-deck/gorilla-tech/baseballChoke']"
        routerLinkActive="activebutton"
        >Gorilla Tech</a
      >
      <a
        mat-stroked-button
        color="accent"
        [routerLink]="['/flashcard-deck/grill-tech/bravoFlipChoke']"
        routerLinkActive="activebutton"
        >Grill Tech</a
      >
      <a
        mat-stroked-button
        color="accent"
        [routerLink]="['/flashcard-deck/greek-tech/dopeMount']"
        routerLinkActive="activebutton"
        >Greek Tech</a
      >
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
