<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <p class="h3">Flashcard Deck</p>
  </div>
  <div class="row d-flex justify-content-center mt-2">
    <nav>
      <button class="mx-2" mat-stroked-button color="accent" [routerLink]="[
          '/flashcard-deck/randy-tech/activeShooterResponse'
        ]" routerLinkActive="activebutton">
        Pistol Tactics
      </button>
      <button class="mx-2" mat-stroked-button color="accent" [routerLink]="['/flashcard-deck/glover-tech/kneeSlice']"
        routerLinkActive="activebutton">
        Grappling
      </button>
      <button class="mx-2" mat-stroked-button color="accent"
        [routerLink]="['/flashcard-deck/gorilla-tech/baseballChoke']" routerLinkActive="activebutton">
        Non Lethal Weapons
      </button>
      <button class="mx-2" mat-stroked-button color="accent"
        [routerLink]="['/flashcard-deck/grill-tech/bravoFlipChoke']" routerLinkActive="activebutton">
        Edged Weapons
      </button>
      <button class="mx-2" mat-stroked-button color="accent" [routerLink]="['/flashcard-deck/greek-tech/dopeMount']"
        routerLinkActive="activebutton">
        Situational Awareness
      </button>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>