.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.techniques {
  list-style-type: none;
  padding: 0;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techniques div {
  position: relative;
  cursor: pointer;
  background-color: #b0bec5;
  padding: 0.3em 0;
  border-radius: 4px;
}

.techniques div:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}

a {
  color: rgb(57, 55, 55);
  text-decoration: none;
}

.techniques a:hover {
  color: #607d8b;
}

.techniques .badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: white;
  height: 160px;
  width: 160px;
  margin-right: 0.8em;
  border-radius: 4px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

.techniques div.selected {
  background-color: #cfd8dc;
  color: white;
}
.techniques div.selected:hover {
  background-color: #bbd8dc;
}
