<h2>Favorite Techniques</h2>
<div class="container">
  <!-- <div>
  <form>
    <mat-form-field>
      <mat-label>Technique name: </mat-label>
      <input matInput #techniqueName />
    </mat-form-field>
    <button
      mat-button
      [disabled]="isDisabled"
      [style.color]="isDisabled ? 'red' : 'green'"
      (click)="add(techniqueName.value); techniqueName.value = ''"
    >
      {{ isDisabled ? "adding" : "add" }}
    </button>
  </form>
</div> -->
  <div *ngFor="let technique of techniques | keyvalue">
    <div *ngIf="technique.value.favorite" class="techniques">
      <a [routerLink]="['/technique', technique.value.id]">
        <div [class.selected]="technique.value.id === selectedId" class="badge">
          <span>{{ technique.value.displayName }}</span>
          <!-- <button
            class="delete"
            title="delete technique"
            (click)="delete(technique)"
            >
            x
          </button> -->
        </div>
      </a>
    </div>
  </div>
</div>
