<h2>Favorite Techniques</h2>
<div class="container">
  <!-- <div>
  <form>
    <mat-form-field>
      <mat-label>Technique name: </mat-label>
      <input matInput #techniqueName />
    </mat-form-field>
    <button
      mat-button
      [disabled]="isDisabled"
      [style.color]="isDisabled ? 'red' : 'green'"
      (click)="add(techniqueName.value); techniqueName.value = ''"
    >
      {{ isDisabled ? "adding" : "add" }}
    </button>
  </form>
</div> -->
  <div *ngFor="let technique of techniques | keyvalue">
    <div *ngIf="technique.value.favorite" class="techniques">
      <div [class.selected]="technique.value.id === selectedId" class="badge">
        <a [routerLink]="['/technique', technique.value.id]">
          <span>{{ technique.value.displayName }}</span>
        </a>
        <!-- <button
            class="delete"
            title="delete technique"
            (click)="delete(technique)"
          >
            x
          </button> -->
      </div>
    </div>
  </div>
</div>
