<div
  *ngIf="data.technique.quiz"
  mat-dialog-content
  class="d-flex flex-column align-items-center"
>
  <h3>{{ data.technique.quiz.question }}</h3>
  <ul class="w-100">
    <li *ngFor="let response of data.technique.quiz.responses">
      <button
        mat-raised-button
        (click)="selectAnswer()"
        [ngClass]="{ green: data.answered && response.correct }"
        color="basic"
        class="w-100 d-flex justify-content-center align-items-center px-2 py-1"
      >
        {{ response.text }}
      </button>
    </li>
  </ul>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data"
    class="w-100 d-flex justify-content-center align-items-center px-2 py-1"
  >
    Close
  </button>
</div>
