<mat-toolbar>
  <div class="d-flex justify-content-between w-100">
    <div class="mx-3">
      <p class="h1 mb-0">
        <span class="mandofont" routerLink="/home">Tab Jammer</span>
      </p>
    </div>
    <div class="d-flex align-items-center">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-drawer-container class="nav-container">
  <mat-drawer #sidenav mode="over" position="end">
    <mat-menu #menu="matMenu">
      <app-menu (toggleMenu)="sidenav.close()" [loggedIn]="loggedIn"></app-menu>
    </mat-menu>

    <app-side-nav
      [selectedName]="selectedName"
      [loggedIn]="loggedIn"
      [techniques$]="techniques$"
      [techArray]="techArray"
      (closeSideNav)="sidenav.close()"
    >
    </app-side-nav>
  </mat-drawer>
  <mat-drawer-content class="d-flex flex-column justify-content-between">
    <div class="w-100 d-flex px-3">
      <div [@routeAnimation]="getAnimationData(routerOutlet)" class="w-100">
        <router-outlet #routerOutlet="outlet"></router-outlet>
        <router-outlet name="popup" class="popupContainer"></router-outlet>
      </div>
    </div>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
