h1 a {
  text-decoration: none;
  color: white;
}

mat-toolbar {
  height: 58px;
}

.mat-list-item {
  color: #ffffffb3;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.nav-container {
  position: absolute;
  top: 58px;
  bottom: 0;
  left: 0;
  right: 0;
}

.drawer-content {
  min-height: 100vh;
}

.footer {
  margin: 0;
}

.popupContainer {
  margin-top: 50px;
}

.activebutton {
  color: #fff;
  background-color: #4fbb87;
}

.activebutton:hover {
  background-color: #398b64;
}

mat-icon {
  color: #69f0ae;
  font-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
}
