h1 a {
  text-decoration: none;
  color: white;
}

mat-toolbar {
  height: 68px;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.nav-container {
  position: absolute;
  top: 68px;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  background-color: #673ab7;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.popupContainer {
  margin-top: 50px;
}

.activebutton {
  background-color: #ffd740;
}
