h1 a {
  text-decoration: none;
  color: white;
}

.content-nav {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
