<mat-sidenav-container class="nav-container">
  <mat-sidenav
    #sidenav
    [mode]="sidenavMode"
    [opened]="!isSmallScreen"
    [fixedInViewport]="true"
    position="end"
  >
    <mat-toolbar color="accent">
      <div>
        <h2>Techniques</h2>
      </div>
      <mat-menu #menu="matMenu">
        <button
          *ngIf="loggedIn"
          mat-menu-item
          routerLink="/admin/manage-technique-list"
          routerLinkActive="active"
        >
          Favorites
        </button>
        <button
          *ngIf="loggedIn"
          mat-menu-item
          routerLink="/profile"
          routerLinkActive="active"
        >
          Profile
        </button>
        <!-- <button
          *ngIf="loggedIn"
          mat-menu-item
          routerLink="/admin"
          routerLinkActive="active"
        >
          Admin
        </button> -->
        <button
          mat-menu-item
          [routerLink]="[{ outlets: { popup: ['compose'] } }]"
        >
          Contact
        </button>
        <button *ngIf="!loggedIn" mat-menu-item routerLink="/login">
          Login
        </button>
        <button *ngIf="loggedIn" mat-menu-item routerLink="/login">
          Logout
        </button>
      </mat-menu>
    </mat-toolbar>
    <mat-nav-list *ngFor="let technique of techniques | keyvalue">
      <a
        mat-list-item
        [class.selected]="technique.value.id === selectedId"
        [routerLink]="['technique', technique.value.id]"
        (click)="isSmallScreen ? sidenav.toggle() : null"
        >{{ technique.value.displayName }}</a
      ></mat-nav-list
    >
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="content-nav" color="warn">
      <h1><a routerLink="/technique/0">Jiu Jitsu Memory</a></h1>
      <div>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button *ngIf="isSmallScreen" mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div class="main-container">
      <div [@routeAnimation]="getAnimationData(routerOutlet)">
        <router-outlet #routerOutlet="outlet"></router-outlet>
      </div>
      <router-outlet name="popup" class="popupContainer"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
