<div *ngIf="data.technique.quiz" mat-dialog-content class="dialog-container">
  <h4>{{ data.technique.quiz.question }}</h4>
  <ul class="questions">
    <li *ngFor="let response of data.technique.quiz.responses">
      <button
        mat-raised-button
        (click)="selectAnswer()"
        [ngClass]="{ green: data.answered && response.correct }"
        color="basic"
      >
        {{ response.text }}
      </button>
    </li>
  </ul>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Close
  </button>
</div>
