h3 {
  margin-bottom: 0;
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
}

button {
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  white-space: normal;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-top: 15px;
  font-size: 0.6em;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions {
  width: 100%;
}

.green {
  background-color: green;
}
