<div class="container mt-3">
  <h2>BJJ Quiz Privacy Policy</h2>
  <p>
    Please read this privacy policy (“terms”, “terms of service”) carefully
    before using bjjquiz.com (the “service”) operated by Wood Web Development
    LLC (“us”, ‘we”, “our”).
  </p>

  <h3>What information do we collect?</h3>

  <p>
    When you use our service, your email and phone number are collected and
    securely transmitted via HTTP and stored on Amazon AWS servers.
  </p>

  <h3>How do we use the information?</h3>
  <p>
    Email and phone are used to verifiy user accounts. Email will be used to
    occasionally communicate with users about new features and promotions.
  </p>
  <h3>What information do we share?</h3>
  <p>
    Email information will be shared with BJJ Quiz content creators and BJJ
    Fanatics for the purposes of marketing and promotions.
  </p>
</div>
