button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.button-row {
  display: flex;
  justify-content: center;
}

.nav-button {
  padding: 5px 8px;
  margin-right: 5px;
}

.quiz-button {
  margin-right: 5px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
