button {
  font-family: Arial;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.nav-button-row {
  display: flex;
  flex-wrap: nowrap;
}

.nav-button {
  margin-right: 5px;
  padding: 5px 10px;
  height: 46px;
}

.quiz-button-row {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  margin-right: 5px;
}

.quiz-button {
  margin-right: 5px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.goldheart {
  color: yellow;
}

.description-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.details-container {
  display: flex;
  justify-content: center;
}

.description-details {
  font-size: large;
  text-align: center;
}

.review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.review-button-container {
  display: flex;
  justify-content: center;
}

.title-container h1 {
  margin: 0;
}
