button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.button-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.nav-button-row {
  display: flex;
  flex-wrap: nowrap;
}

.nav-button {
  margin-right: 5px;
  padding: 5px 10px;
  height: 46px;
}

.quiz-button-row {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  margin-right: 5px;
}

.quiz-button {
  margin-right: 5px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.goldheart {
  color: yellow;
}
