<div *ngIf="technique$ | async as technique">
  <h2>{{ technique.name | uppercase }} Details</h2>
  <div *ngIf="videoUrl$ | async as videoUrl">
    <iframe
      [width]="isSmallScreen || '560'"
      [height]="isSmallScreen || '315'"
      [src]="videoUrl.url | safe"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div class="button-row">
    <div>
      <button
        mat-raised-button
        color="warn"
        [routerLink]="['/technique', technique.id - 1]"
        class="nav-button"
      >
        prev
      </button>
      <button
        mat-raised-button
        color="warn"
        [routerLink]="['/technique', technique.id + 1]"
        class="nav-button"
      >
        next
      </button>
    </div>
    <div class="practice-buttons">
      <app-dialog-content-example
        *ngIf="quiz$ | async as quiz"
        class="quiz-button"
        [quiz]="quiz"
      ></app-dialog-content-example>
      <app-dialog-content-flashcard
        *ngIf="flashcard$ | async as flashcard"
        [flashcard]="flashcard"
      ></app-dialog-content-flashcard>
    </div>
  </div>
</div>
