@import "@angular/material/prebuilt-themes/purple-green.css";

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
/* nav a:visited,
a:link {
  color: #607d8b;
} */
/* nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
} */
/* nav a.active {
  color: #039be5;
} */

* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --amplify-primary-color: #7b1fa1;
  --amplify-primary-tint: #804ff1;
  --amplify-primary-shade: #452c7e;
}

@media screen and (max-width: 767px) {
  input,
  select,
  textarea,
  amplify-button {
    font-size: 16px;
  }
}
