@import "@angular/material/prebuilt-themes/purple-green.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: "mandalorelaser";
  src: url("./assets/mandalorelaser.ttf") format("opentype");
}

.mandofont {
  font-family: "mandalorelaser";
  color: #69f0ae;
  font-size: 32px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {

  input,
  select,
  textarea,
  amplify-button {
    margin-top: 20px;
    font-size: 16px;
  }
}

:root {
  --amplify-primary-color: #11a29b;
  --amplify-primary-tint: #3f6060;
  --amplify-primary-shade: #2dba89;
  --amplify-background-color: #e0faf4;
}