<main>
  <section *ngIf="!isLoggedIn" class="py-3 text-center container">
    <div class="row py-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Grappling Review</h1>
        <p class="lead text-muted">
          Quickly memorize smart self defense techniques with short video clips,
          quizzes and flashcards. Sign up for a free account to harness the
          power of spaced repetition memorization.
        </p>
        <p>
          <a
            mat-raised-button
            href="/technique/armbar"
            color="primary"
            class="btn btn-secondary m-2 px-4 py-1 br-2"
          >
            Try it out
          </a>
          <a
            mat-raised-button
            href="/login"
            color="basic"
            class="btn btn-secondary m-2 px-4 py-1 br-2"
          >
            Sign up now
          </a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-3">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col my-2" *ngFor="let technique of techniques$ | async">
          <div
            class="card shadow-sm h-100 d-flex flex-column justify-content-between"
          >
            <img
              [src]="technique.video.thumbnail | safe"
              [routerLink]="['/technique', technique.name]"
              class="img-responsive card-container"
              alt="Video Thumbnail"
            />
            <div>
              <div class="card-container px-4">
                <h3 class="h4">{{ technique.displayName }}</h3>
                <p class="text-muted m-0">
                  {{ technique.flashcard.question }}
                </p>
              </div>
              <div class="p-2">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="mb-2">
                    <button
                      mat-raised-button
                      color="primary"
                      class="w-100 p-2 mb-1"
                      [routerLink]="['/technique', technique.name]"
                    >
                      Technique Details
                    </button>
                    <app-dialog-content-flashcard
                      class="quiz-button"
                      [technique]="technique"
                    ></app-dialog-content-flashcard>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
