<main>
  <section *ngIf="!isLoggedIn" class="pt-3 text-center container">
    <div class="row">
      <div class="col-lg-6 col-md-8 mx-auto">
        <p class="lead text-white-50 font-weight-bold">
          Take your Jiu Jitsu game to the next level with videos, notes,
          flashcards and quizzes.
        </p>
        <p class="mb-0">
          <a
            mat-stroked-button
            href="/technique/kneeSlice"
            color="accent"
            class="btn btn-secondary m-2 px-4 py-1 br-2"
          >
            Start Training
          </a>
          <a
            mat-stroked-button
            href="/login"
            color="accent"
            class="btn btn-secondary m-2 px-4 py-1 br-2"
          >
            Create Profile
          </a>
        </p>
      </div>
    </div>
  </section>

  <div class="album">
    <div class="container card-body">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col my-2" *ngFor="let technique of techniques$ | async">
          <div
            class="h-100 d-flex flex-column justify-content-between rounded-sm border"
          >
            <img
              [src]="technique.video.thumbnail | safe"
              [routerLink]="['/technique', technique.name]"
              class="img-responsive card-container"
              alt="Video Thumbnail"
            />
            <div class="h-100 d-flex flex-column justify-content-between">
              <div class="d-flex flex-column px-2">
                <div class="align-self-center">
                  <h3 class="mb-0">
                    {{ technique.displayName }}
                  </h3>
                </div>
                <div>
                  <p class="flashcard-text text-white-50 m-0">
                    {{ technique.flashcard.answer }}
                  </p>
                </div>
              </div>
              <div class="p-2">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="mb-2">
                    <button
                      mat-stroked-button
                      color="accent"
                      class="w-100 p-2 mb-1 btn-dark"
                      [routerLink]="['/technique', technique.name]"
                    >
                      Technique Details
                    </button>
                    <app-dialog-content-flashcard
                      class="quiz-button btn-dark"
                      [technique]="technique"
                    ></app-dialog-content-flashcard>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
