button:hover {
  background-color: #cfd8dc;
}

.tech-button {
  width: 100%;
}

.nav-button {
  margin-right: 5px;
  padding: 5px 10px;
  height: 46px;
}

.card {
  height: 100%;
}

.card-container {
  cursor: pointer;
}

.card-text {
  height: 40px;
}
