<main>
  <section *ngIf="!isLoggedIn" class="pt-3 text-center container">
    <app-cta-row></app-cta-row>
  </section>
  <div class="container card-body">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col my-2" *ngFor="let technique of gTechniques">
        <div
          class="h-100 d-flex flex-column justify-content-between rounded-sm border"
        >
          <img
            [src]="technique.video.thumbnail | safe"
            [routerLink]="['/technique/G-Songs', technique.name]"
            class="w-100 mb-1"
            alt="Video Thumbnail"
          />
          <div class="h-100 d-flex flex-column justify-content-between">
            <div class="d-flex flex-column px-2">
              <div class="title-text d-flex flex-column justify-content-center">
                <h3 class="mb-0">
                  {{ technique.displayName }}
                </h3>
              </div>
            </div>
            <div class="p-2">
              <div class="d-flex justify-content-center align-items-center">
                <div class="w-100 mb-2">
                  <button
                    mat-stroked-button
                    color="accent"
                    class="w-100 py-2 px-4 mb-1 btn-dark"
                    [routerLink]="['/technique/G-Songs', technique.name]"
                  >
                    Song Details
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col my-2" *ngFor="let technique of homePageTechniques">
        <div
          class="h-100 d-flex flex-column justify-content-between rounded-sm border"
        >
          <img
            [src]="technique.video.thumbnail | safe"
            [routerLink]="['/technique', homeModule, technique.name]"
            class="w-100 mb-1"
            alt="Video Thumbnail"
          />
          <div class="h-100 d-flex flex-column justify-content-between">
            <div class="d-flex flex-column px-2">
              <div class="title-text d-flex flex-column justify-content-center">
                <h3 class="mb-0">
                  {{ technique.displayName }}
                </h3>
              </div>
            </div>
            <div class="p-2">
              <div class="d-flex justify-content-center align-items-center">
                <div class="w-100 mb-2">
                  <button
                    mat-stroked-button
                    color="accent"
                    class="w-100 py-2 px-4 mb-1 btn-dark"
                    [routerLink]="['/technique', homeModule, technique.name]"
                  >
                    Song Details
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col my-2" *ngFor="let technique of paidTechniques">
        <div
          class="h-100 d-flex flex-column justify-content-between rounded-sm border"
        >
          <img
            [src]="technique.video.thumbnail | safe"
            [routerLink]="
              isLoggedIn ? ['/technique', paidModule, technique.name] : null
            "
            class="w-100 mb-1"
            [class.disabled]="!isLoggedIn ? true : null"
            alt="Video Thumbnail"
          />
          <div class="h-100 d-flex flex-column justify-content-between">
            <div
              class="d-flex flex-column px-2"
              [class.disabled]="!isLoggedIn ? true : null"
            >
              <div class="title-text d-flex flex-column justify-content-center">
                <h3 class="mb-0">
                  {{ technique.displayName }}
                </h3>
              </div>
            </div>
            <div class="p-2">
              <div class="d-flex justify-content-center align-items-center">
                <div class="w-100 mb-2">
                  <button
                    *ngIf="isLoggedIn"
                    mat-stroked-button
                    color="accent"
                    class="w-100 py-2 px-4 mb-1 btn-dark"
                    [routerLink]="['/technique', paidModule, technique.name]"
                  >
                    Song Details
                  </button>
                  <button
                    *ngIf="!isLoggedIn"
                    mat-stroked-button
                    color="accent"
                    class="w-100 py-2 px-4 mb-1 btn-dark tech-cta"
                    routerLink="/login"
                  >
                    Create Account To View
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
