<h2>Favorite Techniques</h2>
<div class="container">
  <div *ngFor="let technique of techniques$ | async">
    <div *ngIf="technique.favorite" class="techniques">
      <a [routerLink]="['/technique', technique.id]">
        <div [class.selected]="technique.id === selectedId" class="badge">
          <span>{{ technique.displayName }}</span>
          <!-- <button
            class="delete"
            title="delete technique"
            (click)="delete(technique)"
            >
            x
          </button> -->
        </div>
      </a>
    </div>
  </div>
</div>
